<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>FirmDrop</string>
	<key>CFBundleDisplayName</key>
	<string>FirmDrop</string>
	<key>CFBundleIdentifier</key>
	<string>com.julianamarques.FirmDrop</string>
	<key>CFBundleExecutable</key>
	<string>FirmDrop</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>pt-BR</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>pt-BR</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Baixa firmwares oficiais da Samsung direto do servidor FUS.</string>
</dict>
</plist>
